Avoid dependency on Google Calendar API

The script should accept a calendar exported with iCalendar format (it is an RFC 5545, RFC 5546 and RFC 6868 standard) without connect to the Google Calendar API, you will be able to send the scheduled messages.

The script should work with something similar to this:

`node index.js --ical calendar.json`

Where calendar.json is the static file exported from our calendar (Google Calendar or any standard compliant).

Closed [96442b8](https://github.com/sergiogragera/whatsapp-calendar-gpt-bot/commit/96442b8a82f23237f0b5365b7050859c766c0e9a)